.container {
  position: relative;
}
.info{
  position: absolute;
  top: 40px;
  right: 0px;
  background-color:#3febe8;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}
header, footer {
  background-color: #00695c;
  color: white;
  padding: 1rem;
  text-align: center;
}
nav ul {
  color:rgb(217, 46, 247);
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
  text-decoration: wavy;
}
nav a {
  color: white;
  text-decoration: none;
}
section {
  padding: 2rem;
}
.card {
  background: white;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}